* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ---------------------- Info Header ---------------------- */
.info-header {
	margin: 10px 150px;
    width: 660px;
}

.owner-badge-icon {
	width:fit-content;
    display: flex;
    padding: 0 1rem;
    border-radius: 4px;
    height: 24px;
    color: #fff;
    font-weight: bold;
    text-align: center;
    line-height: 1.1;
    background-color: #bcb08a;
    font-size: 1.1rem;
    align-items: center;
}

.header-title-data {
	padding: 10px 0;
	border-bottom: 1px dotted #e0dccc;
}

.header-pillowWord {
	font-size: 50%;
	color: #797152;
}

.header-pillowWord:hover {
	cursor: pointer;
}

.header-rstName {
	font-style: normal;
    font-weight: bold;
    font-size: 130%;
}

.header-rating {
	margin-top: 5px;
}

.rating-star {
  unicode-bidi: bidi-override;
  color: #ccc;
  font-size: 13px;
  position: relative;
  margin: 0;
  padding: 0;
}
.fill-rating-star {
  color: #fa0;
  padding: 0;
  position: absolute;
  z-index: 1;
  display: block;
  top: 0;
  left: 0;
  overflow: hidden;
  display: inline-block;
}
.empty-rating-star {
  padding: 0;
  z-index: 0;
}

.rating-score {
	font-size: 1.08em;
    color: #e10000;
    font-family: Arial;
    font-weight: normal;
}

.fas {
	color: #bcb08a;
	font-size: 80%;
}

.fa-comment-dots,
.fa-bookmark {
	padding-left: 10px;
}

.count-of-review,
.count-of-followed {
	font-size: 80%;
}

.count-of-review:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #fa0;
}

.header-info-data {
	padding: 10px 0;
}

.subinfo-title {
	vertical-align: middle;
    font-weight: bold;
    color: #463f2d;
    font-size: 80%;
}

.genre,
.regular-holiday-title,
.fa-sun {
	padding-left: 10px;
}

.station1,
.city,
.genre1,
.genre2,
.genre3,
.budget-night,
.budget-daytime,
.regular-holiday {
	font-size: 80%;
}

.station1:hover,
.city:hover,
.genre1:hover,
.genre2:hover,
.genre3:hover,
.budget-night:hover,
.budget-daytime:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #fa0;
}

.header-target-wrap {
	padding-top: 10px;
}

.go-to-eat {
    padding: 4px 6px;
	border: solid 1px #eeece4;
    border-radius: 3px;
}

.go-to-eat:hover {
	cursor: pointer;
}

.gte-img:hover {
	filter: brightness(120%);
}

.gte-txt {
	font-size: 75%;
	font-weight: bold;
	align-items: center;
}

.target-txt {
	padding-top: 5px;
	font-size: 80%;
	display: flex;
	text-align: right;
	float: right;
}

.target-txt1 {
	padding-right: 10px;
}

.target-txt1:hover,
.target-txt2:hover {
	cursor: pointer;
	text-decoration: underline;
	color: #fa0;
}

/* ---------------------- Navi ---------------------- */
.navi-wrap {
	margin: 10px 150px;
	width: 1000px;
   /* position: sticky;
    top: 0;
    z-index: 5;
    display: -webkit-box;*/
}

.navi-list {
	/*display: flex;
	list-style-type: none;
    justify-content: space-around;*/
    display: table;
    border-top: 1px solid #eeece4;
    border-bottom: 2px solid #797152;
    width: 100%;
    table-layout: fixed;
}

.navi-item {
	/*display: block;*/
    display: table-cell;
    border-right: 1px solid #eeece4;
    width: 17%;
    color: #463f2d;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 2.7rem;
}
.navi-top {
	color: #fff;
	background: #797152;
}

.navi-top:hover,
.navi-table:hover,
.navi-menu:hover,
.navi-photo:hover,
.navi-review:hover,
.navi-map:hover {
	cursor: pointer;
}

/* ---------------------- contents * main ---------------------- */
.column-main {
	margin: 10px 150px;
	float: left;
    width: 660px;
}

.extra-info {
	padding: 10px 0;
	border-top: 1px solid #e9e9e9;
	border-bottom: 1px solid #e9e9e9;
}

.extra-info-title {
    padding: 5px 0 10px 0;
    color: #e64c30;
    font-weight: bold;
    font-size: 1rem;
}

.extra-info-detail {
	font-size: 80%;
}

/* Main Photo */
.main-photo {
	padding: 10px 0;
	position: relative;
}
.photo-slide {
	display: none;
}
.cursor {
  cursor: pointer;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
  width: 16.66%;
}
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}

/* Comment Wrap */
.comment-wrap {
	padding: 10px 0;
	border-bottom: 1px solid #e9e9e9;
}

.comment-title{
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
}

.comment-detail {
	font-size: 80%;
	color: #595960;
    line-height: 1.6;
}

/* Top Kodawari */
.top-kodawari {
	padding: 20px 0;
	border-bottom: 1px solid #e9e9e9;
}

.top-kodawari-heading {
	padding-bottom: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.top-kodawari-content {
	display: flex;
	align-items: stretch;
}

.top-kodawari-item {
	margin-right: 0.5rem;
	border: 1px solid #e8e6e4;
	border-radius: 2px;
    box-shadow: 0 0 2px rgb(56 44 26 / 10%);
    cursor: pointer;
}

.top-kodawari-item:hover {
	border: 1px solid #fa0;
}

.top-kodawari-photo {
	width: 157px;
    height: 157px; 
    object-fit: cover; /* 画像トリミング */
}

.top-kodawari-photo:hover {
    opacity: 0.7;
}

.top-kodawari-photo-title {
	margin: 10px;
	font-size: 70%;
}

/* Kodawari Modal */
.kodawari-modal-container {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.kodawari-modal-content {
  background-color: #f4f4f4;
  margin: 20% auto;
  width: 50%;
  border-radius: 0.3rem;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
  animation-name: openModal;
  animation-duration: 1s;
}
@keyframes openModal {
  from {opacity: 0}
  to {opacity: 1}
}
.modal-header{
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
}
.close-btn {
  margin-left: 450px;
  float: right;
  background-color: #f4f4f4;
  font-size: 1rem;
  border: none;
}
.close-btn {
  cursor: pointer;
  transform: scale(1.2);
}
.modal-body {
  padding: 10px 20px;
  color: black;
  font-size: 80%;
}

/* Top Course */
.top-course {
	padding: 20px 0;
	border-bottom: 1px solid #e9e9e9;
}

.top-course-heading {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1rem;
}

/* Top Postphoto */
.top-postphoto {
	padding: 20px 0 40px 0;
	border-bottom: 1px solid #e9e9e9;
}

.top-postphoto-heading {
	padding-bottom: 20px;
}

.top-postphoto-btn {
	float:right;
	padding: 3px 10px;
	font-size: 80%;
	font-weight: bold;
    border: 1px solid #82ad24;
    border-radius: 3px;
    box-shadow: 0 0 1px rgb(255 255 255 / 60%) inset, 0 1px 0 rgb(0 0 0 / 10%);
    color: #fff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 30%);
    background-color: #9c0;
}

.top-postphoto-btn:hover {
	cursor: pointer;
	filter: brightness(110%);
}

.postphoto-title {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1rem;
}

.top-postphoto-content {
	display: flex;
	/*flex-direction: row;*/
}

.top-postphoto-item {
	width: 126px;
	height:126px;
	margin-right: 0.5rem;
	object-fit: cover; 
}

.fa-play-circle {
	float: right;
	padding-top: 10px;
}

.fa-play-circle:hover {
	cursor: pointer;
	color: #fa0;
}

/* ---------------------- contents * side ---------------------- */
.column-side {
	margin: 10px 0;
	float: right;
    width: 300px;
}

