<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="service-fragment">
    <div class="container">
        <div class="footer-links clearfix">
            <dl class="col-links col-links-first">
                <dt>帮助中心</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">账户管理</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">购物指南</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">订单操作</a></dd>
            </dl>
            <dl class="col-links ">
                <dt>服务支持</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">售后政策</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">自助服务</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">下载</a></dd>
            </dl>
            <dl class="col-links ">
                <dt>线下门店</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">NEWBEE TOWN</a>
                </dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">服务网点</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">授权体验店</a></dd>
            </dl>
            <dl class="col-links ">
                <dt>关于新蜂</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">了解新蜂</a>
                </dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">加入新蜂</a>
                </dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">捐赠维护</a>
                </dd>
            </dl>
            <dl class="col-links ">
                <dt>关注我们</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">新浪微博</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">官方微信</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">联系我们</a></dd>
            </dl>
            <dl class="col-links ">
                <dt>特色服务</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">来斗图</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">优惠码</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">防伪查询</a></dd>
            </dl>
            <div class="col-contact">
                <p class="phone">400-xxx-xxxx</p>
                <p>
                    周一至周日 8:00-18:00<br>（欢迎来撩）
                </p>
                <a rel="nofollow" class="btn btn-line-primary btn-small" href="https://gitee.com/newbee-ltd/newbee-mall"
                   target="_blank"><i
                        class="iconfont"></i> 人工客服</a></div>
        </div>
    </div>
</div>
<footer id="footer" th:fragment="footer-fragment">
    <p><a href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank" style="color:black;">新蜂商城 &nbsp; | &nbsp;
        Powered by 十三&nbsp;
        | &nbsp;</a>
        &nbsp;QQ交流群：796794009&nbsp;&nbsp; <a
                href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c"><img
                border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="SpringBoot技术交流" title="SpringBoot技术交流"></a>
    </p>
    <p><a href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank" style="color:black;">Copyright ©newbee.ltd All
        Rights
        Reserved.&nbsp; | &nbsp; 浙ICP备17008806号-5 </a></p>
    <p style="color: #1baeae">目前正在开发中，大家可以给项目一个 Star 或者捐赠一笔巨款支持一下作者，(*^__^*) 嘻嘻……</p>
</footer>
</html>