<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="site-footer" th:fragment="footer-fragment">
    <div class="footer-related">
        <div class="footer-article w1100">
            <dl class="contact clearfix">
                <dt class="fl">
                    <i class="iconfont"></i>
                </dt>
                <dd class="fl">
                    <p class="text">人工客服</p>
                    <p class="tel">400-xxx-xx13</p>
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c">在线咨询</a>
                </dd>
            </dl>
            <dl class="col-article">
                <dt>帮助中心</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">账户管理</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">购物指南</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">订单操作</a></dd>
            </dl>
            <dl class="col-article">
                <dt>关注我们</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">新浪微博</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">官方微信</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">联系我们</a></dd>
            </dl>
            <dl class="col-article">
                <dt>线下门店</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">NEWBEE TOWN</a>
                </dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">服务网点</a></dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">授权体验店</a></dd>
            </dl>
            <dl class="col-article">
                <dt>关于新蜂</dt>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">了解新蜂</a>
                </dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">加入新蜂</a>
                </dd>
                <dd><a rel="nofollow" href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">捐赠维护</a>
                </dd>
            </dl>
            <dl class="wx">
                <dt>newbee-mall</dt>
                <dd>
                    <img th:src="@{/mall/image/pay/wxpay_qrcode.png}">
                </dd>
                <dd class="other">
                    <span>分公司：</span>
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c">北京</a>
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c">上海</a>
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c">广州</a>
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c">深圳</a>
                    <a href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c">杭州</a>
                </dd>
            </dl>
        </div>
        <div class="footer-links w1100">
            <p>友情链接：</p>
            <div class="clearfix">
                <a th:href="@{/index}">新蜂商城</a>
                <a th:href="@{/admin}">后台管理系统</a>
                <a href="https://edu.csdn.net/course/detail/26258">课程视频</a>
                <a href="https://gitee.com/newbee-ltd/newbee-mall">课程文档</a>
                <a href="https://gitee.com/newbee-ltd/newbee-donate">捐赠</a>
                <a href="https://gitee.com/newbee-ltd/newbee-mall/issues">问题反馈</a>
                <a href="https://github.com/newbee-ltd/newbee-mall">GitHub 地址</a>
                <a href="https://gitee.com/newbee-ltd/newbee-mall">码云Gitee 地址</a>
            </div>
        </div>
        <div class="footer-info w1100">
            <div class="info-text w1100">
                <p><a href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">新蜂商城 &nbsp; | &nbsp;
                    Powered by 十三&nbsp;
                    | &nbsp;</a>
                    &nbsp;QQ交流群：796794009&nbsp;&nbsp; <a
                            href="//shang.qq.com/wpa/qunwpa?idkey=dc0e028f177932aee2c212a2dd60e0b8342042ac205305803ea801c4eea6727c"><img
                            border="0" src="//pub.idqqimg.com/wpa/images/group.png" alt="SpringBoot技术交流"
                            title="SpringBoot技术交流"></a>
                </p>
                <p><a href="https://gitee.com/newbee-ltd/newbee-mall" target="_blank">Copyright ©newbee.ltd All
                    Rights
                    Reserved.&nbsp; | &nbsp; 浙ICP备17008806号-5 </a></p>
                <p style="color: #1baeae">目前正在开发中，大家可以给项目一个 Star 或者捐赠一笔巨款支持一下作者，(*^__^*) 嘻嘻……</p>
            </div>
        </div>

    </div>
</div>
</html>