<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.CampaignMapper">
    <!-- campaign查询 -->
    <select id="getCampaignGoods" parameterType="java.lang.Long"
		resultType="ltd.newbee.mall.entity.CampaignGoods">
	select
	  goods.goods_id,goods.goods_name,c.campaign_id,c.campaign_name,agc.valid_date_from,agc.valid_date_to
	from tb_newbee_mall_goods_category as cat
	join tb_newbee_mall_goods_info as goods
	  on cat.category_id = goods.goods_category_id
	left join apply_goods_campaign as agc
	  on agc.goods_id = goods.goods_id
	left join campaign as c
	  on agc.campaign_id = c.campaign_id

	left join over_amount_minus as oam
	  on agc.campaign_id=oam.campaign_id
	left join buy_category_set as bcs
	  on agc.campaign_id=bcs.campaign_id
	left join over_amount_coupon as oac
	  on agc.campaign_id=oac.campaign_id
	left join discount as d
	  on agc.campaign_id=d.campaign_id
	where cat.parent_id=#{parentId,jdbcType=BIGINT}
	order by goods.goods_id
	</select>
	
    <select id="getCampaignCategory" parameterType="java.lang.Long"
		resultType="ltd.newbee.mall.entity.CampaignCategory">
	select 
	  cat.category_id,cat.category_name,c.campaign_id,c.campaign_name,acc.valid_date_from,acc.valid_date_to
	from
	tb_newbee_mall_goods_category as cat
	left join apply_category_campaign as acc
	  on acc.category_id = cat.category_id
	left join campaign as c
	  on acc.campaign_id = c.campaign_id

	left join over_amount_minus as oam
	  on acc.campaign_id=oam.campaign_id
	left join buy_category_set as bcs
	  on acc.campaign_id=bcs.campaign_id
	left join over_amount_coupon as oac
	  on acc.campaign_id=oac.campaign_id
	left join discount as d
	  on acc.campaign_id=d.campaign_id

	where cat.parent_id=#{parentId,jdbcType=BIGINT}
	order by cat.category_id
	</select>
    
    <!-- キャンペーン適用(商品) -->
    <select id="getMaxGoodsId" resultType="long">
        select max(goods_id) from apply_goods_campaign
    </select>
    
    <insert id="insertCampaignGoods" parameterType="ltd.newbee.mall.entity.CampaignGoods">
         insert into apply_goods_campaign
         <trim prefix="(" suffix=")" suffixOverrides=",">
             <if test="campaignId != null">
                 campaign_id,
             </if>
             <!--
             <if test="campaignName != null">
                 campaign_name,
             </if>
             -->
             <if test="goodsId != null">
                 goods_id,
             </if>
             <!--
             <if test="goodsName != null">
                 goods_name,
             </if>
             -->
             <if test="validDateFrom != null">
                 valid_date_from,
             </if>
             <if test="validDateTo != null">
                 valid_date_to,
             </if>
             <if test="deleteFlg != null">
                 delete_flg,
             </if>
             <if test="insertDate != null">
                 insert_date,
             </if>
             <if test="insertUser != null">
                 insert_user,
             </if>
             <if test="updateDate != null">
                 update_date,
             </if>
             <if test="updateUser != null">
                 update_user,
             </if>
         </trim>
         <trim prefix="values (" suffix=")" suffixOverrides=",">
             <if test="campaignId != null">
                 #{campaignId,jdbcType=BIGINT},
             </if>
             <!--
             <if test="campaignName != null">
                 #{campaignName,jdbcType=VARCHAR},
             </if>
             -->
             <if test="goodsId != null">
                 #{goodsId,jdbcType=BIGINT},
             </if>
             <!--
             <if test="goodsName != null">
                 #{goodsName,jdbcType=VARCHAR},
             </if>
             -->
             <if test="validDateFrom != null">
                 #{validDateFrom,jdbcType=TIMESTAMP},
             </if>
             <if test="validDateTo != null">
                 #{validDateTo,jdbcType=TIMESTAMP},
             </if>
             <if test="deleteFlg != null">
                 #{deleteFlg,jdbcType=INTEGER},
             </if>
             <if test="insertDate != null">
                 #{insertDate,jdbcType=TIMESTAMP},
             </if>
             <if test="insertUser != null">
                 #{insertUser,jdbcType=BIGINT},
             </if>
             <if test="updateDate != null">
                 #{updateDate,jdbcType=TIMESTAMP},
             </if>
             <if test="updateUser != null">
                 #{updateUser,jdbcType=BIGINT},
             </if>
         </trim> 
    </insert>
    
    <!-- キャンペーン適用(カテゴリー) -->
    <select id="getMaxCategoryId" resultType="long">
        select max(category_id) from apply_category_campaign
    </select>
    
    <insert id="insertCampaignCategory" parameterType="ltd.newbee.mall.entity.CampaignCategory">
         insert into apply_category_campaign
         <trim prefix="(" suffix=")" suffixOverrides=",">
             <if test="campaignId != null">
                 campaign_id,
             </if>
             <if test="campaignName != null">
                 campaign_name,
             </if>
             <if test="categoryId != null">
                 category_id,
             </if>
             <if test="categoryName != null">
                 category_name,
             </if>
             <if test="validDateFrom != null">
                 valid_date_from,
             </if>
             <if test="validDateTo != null">
                 valid_date_to,
             </if>
             <if test="deleteFlg != null">
                 delete_flg,
             </if>
         </trim>
         <trim prefix="values (" suffix=")" suffixOverrides=",">
             <if test="campaignId != null">
                 #{campaignId,jdbcType=BIGINT},
             </if>
             <if test="campaignName != null">
                 #{campaignName,jdbcType=VARCHAR},
             </if>
             <if test="categoryId != null">
                 #{categoryId,jdbcType=BIGINT},
             </if>
             <if test="categoryName != null">
                 #{categoryName,jdbcType=VARCHAR},
             </if>
             <if test="validDateFrom != null">
                 #{validDateFrom,jdbcType=TIMESTAMP},
             </if>
             <if test="validDateTo != null">
                 #{validDateTo,jdbcType=TIMESTAMP},
             </if>
             <if test="deleteFlg != null">
                 #{deleteFlg,jdbcType=INTEGER},
             </if>
         </trim> 
    </insert>
    
    <!-- キャンペーン削除(商品) -->
    <update id="updateCampaignGoods" parameterType="ltd.newbee.mall.entity.CampaignGoods">
        update apply_goods_campaign
      <set> 
         <if test="campaignId != null">
             campaign_id = #{campaignId,jdbcType=BIGINT},
         </if>
         <if test="goodsId != null">
             goods_id = #{goodsId,jdbcType=BIGINT},
         </if>
         <if test="validDateFrom != null">
             valid_date_from = #{validDateFrom,jdbcType=TIMESTAMP},
         </if>
         <if test="validDateTo != null">
             valid_date_to = #{validDateTo,jdbcType=TIMESTAMP},
         </if> 
         <if test="deleteFlg != null">
             delete_flg = #{deleteFlg,jdbcType=INTEGER},
         </if>   
      </set>
        where goods_id = #{goodsId,jdbcType=BIGINT}
        and campaign_id = #{campaignId,jdbcType=BIGINT}
    </update>
    
    <!-- キャンペーン削除(カテゴリー) -->
    <update id="updateCampaignCategory" parameterType="ltd.newbee.mall.entity.CampaignCategory">
        update apply_category_campaign
      <set> 
         <if test="campaignId != null">
             campaign_id = #{campaignId,jdbcType=BIGINT},
         </if>
         <if test="categoryId != null">
             category_id = #{categoryId,jdbcType=BIGINT},
         </if>
         <if test="validDateFrom != null">
             valid_date_from = #{validDateFrom,jdbcType=TIMESTAMP},
         </if>
         <if test="validDateTo != null">
             valid_date_to = #{validDateTo,jdbcType=TIMESTAMP},
         </if>
         <if test="deleteFlg != null">
             delete_flg = #{deleteFlg,jdbcType=INTEGER},
         </if> 
      </set>
        where category_id = #{categoryId,jdbcType=BIGINT}
        and campaign_id = #{campaignId,jdbcType=BIGINT}
    </update>
    
    <!-- キャンペーン情報のdropDownListのAPI -->
    <select id="getGoodsDropDownList" parameterType="java.lang.String" resultType="ltd.newbee.mall.entity.CampaignGoods">
        select campaign_name
        from campaign where campaign_name =  #{campaignName,jdbcType=VARCHAR}
    </select>
    <select id="getCategoryDropDownList" parameterType="java.lang.String" resultType="ltd.newbee.mall.entity.CampaignCategory">
        select campaign_name
        from campaign where campaign_name =  #{campaignName,jdbcType=VARCHAR}
    </select>
    
    <!-- goods_idは商品マスタに存在するかどうかをチェック -->
    <!--
    <select id="checkGoodsIdExist" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.CampaignCategory">
        select goods_id
        from tb_newbee_mall_goods_info
        where goods_id =  #{goodsId,jdbcType=BIGINT}
    </select>
    -->
    <select id="checkGoodsIdExist" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.CampaignCategory">
        select count(goods_id)
        from tb_newbee_mall_goods_info
        where goods_id =  #{goodsId,jdbcType=BIGINT}
    </select>
     <!-- campaign_idはキャンペーンマスタに存在するかどうかをチェック --> 
    <select id="checkCampaignIdExist" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.CampaignCategory">
        select campaign_id
        from campaign
        where campaign_id =  #{campaignId,jdbcType=BIGINT}
    </select>
    
    <!-- campaignList -->
    <select id="dropDownList" resultType="ltd.newbee.mall.entity.CampaignCategory">
        select campaign_name, campaign_id
        from campaign
    </select>
</mapper>