<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.CategoryOrGoodsMapper">


	<select id="getApplyCategory" parameterType="java.lang.Long"
		resultType="ltd.newbee.mall.entity.ApplyCategoryCampaign">
	select 
	  cat.category_id,cat.category_name,c.campaign_id,c.campaign_name,acc.valid_date_from,acc.valid_date_to
	from
	tb_newbee_mall_goods_category as cat
	left join apply_category_campaign as acc
	  on acc.category_id = cat.category_id
	left join campaign as c
	  on acc.campaign_id = c.campaign_id

	left join over_amount_minus as oam
	  on acc.campaign_id=oam.campaign_id
	left join buy_category_set as bcs
	  on acc.category_id=bcs.buy_category_id
	left join over_amount_coupon as oac
	  on acc.campaign_id=oac.campaign_id
	left join discount as d
	  on acc.campaign_id=d.campaign_id

	where cat.parent_id=#{parentId,jdbcType=BIGINT}
	order by cat.category_id
	</select>

	<select id="getApplyGoods" parameterType="java.lang.Long"
		resultType="ltd.newbee.mall.entity.ApplyGoodsCampaign">
	select
	  goods.goods_id,goods.goods_name,c.campaign_id,c.campaign_name,agc.valid_date_from,agc.valid_date_to,bgs.free_goods_id
	from tb_newbee_mall_goods_category as cat
	join tb_newbee_mall_goods_info as goods
	  on cat.category_id = goods.goods_category_id
	left join apply_goods_campaign as agc
	  on agc.goods_id = goods.goods_id
	left join campaign as c
	  on agc.campaign_id = c.campaign_id

	left join over_amount_minus as oam
	  on agc.campaign_id=oam.campaign_id
    left join buy_goods_set as bgs
	  on agc.goods_id=bgs.buy_goods_id and agc.campaign_id=bgs.campaign_id
	left join over_amount_coupon as oac
	  on agc.campaign_id=oac.campaign_id
	left join discount as d
	  on agc.campaign_id=d.campaign_id
	where cat.parent_id=#{parentId,jdbcType=BIGINT}
	order by goods.goods_id
	</select>
	
	
	<insert id="insertCategoryCampaign" parameterType="ltd.newbee.mall.entity.ApplyCategoryCampaign">
    insert into apply_category_campaign (category_id,campaign_id,valid_date_from,valid_date_to,delete_flag)
    values (#{categoryId,jdbcType=BIGINT}, #{campaignId,jdbcType=BIGINT}, 
      #{validDateFrom,jdbcType=TIMESTAMP}, #{validDateTo,jdbcType=TIMESTAMP},#{deleteFlag,jdbcType=TINYINT})
    </insert>

    <insert id="insertGoodsCampaign" parameterType="ltd.newbee.mall.entity.ApplyGoodsCampaign">
    insert into apply_goods_campaign (goods_id,campaign_id,valid_date_from,valid_date_to,delete_flag)
    values (#{goodsId,jdbcType=BIGINT}, #{campaignId,jdbcType=BIGINT}, 
      #{validDateFrom,jdbcType=TIMESTAMP}, #{validDateTo,jdbcType=TIMESTAMP},#{deleteFlag,jdbcType=TINYINT})
    </insert>

  
    <update id="updateCategoryDelete"
		parameterType="ltd.newbee.mall.entity.ApplyCategoryCampaign">
		update apply_category_campaign
		<set>
			<if test="categoryId != null">
				category_id = #{categoryId,jdbcType=BIGINT},
			</if>
			<if test="campaignId != null">
				campaign_id = #{campaignId,jdbcType=BIGINT},
			</if>
			<if test="validDateFrom != null">
				valid_date_from = #{validDateFrom,jdbcType=TIMESTAMP},
			</if>
			<if test="validDateTo != null">
				valid_date_to = #{validDateTo,jdbcType=TIMESTAMP},
			</if>
			<if test="deleteFlag != null">
				delete_flag = #{deleteFlag,jdbcType=TINYINT},
			</if>
		</set>
		where category_id = #{categoryId,jdbcType=BIGINT} and campaign_id= #{campaignId,jdbcType=BIGINT}
	  </update>
	
	  <update id="updateGoodsDelete"
		parameterType="ltd.newbee.mall.entity.ApplyGoodsCampaign">
		update apply_goods_campaign
		<set>
			<if test="goodsId != null">
				goods_id = #{goodsId,jdbcType=BIGINT},
			</if>
			<if test="campaignId != null">
				campaign_id = #{campaignId,jdbcType=BIGINT},
			</if>
			<if test="validDateFrom != null">
				valid_date_from = #{validDateFrom,jdbcType=TIMESTAMP},
			</if>
			<if test="validDateTo != null">
				valid_date_to = #{validDateTo,jdbcType=TIMESTAMP},
			</if>
			<if test="deleteFlag != null">
				delete_flag = #{deleteFlag,jdbcType=TINYINT},
			</if>
		</set>
		where goods_id = #{goodsId,jdbcType=BIGINT} and campaign_id= #{campaignId,jdbcType=BIGINT}
	</update>

	<select id="dropDownList" resultType="ltd.newbee.mall.entity.campaign.Campaign">
		select campaign_id,campaign_name
		from Campaign
	</select>
	
	 <insert id="insertGoodsCampaign2" parameterType="ltd.newbee.mall.entity.campaign.ApplyGoodsCampaign2">
    insert into apply_goods_campaign (goods_id,campaign_id,insert_date,insert_user,update_date,update_user,valid_date_from,valid_date_to,delete_flag)
    values (#{goodsId,jdbcType=BIGINT}, #{campaignId,jdbcType=BIGINT}, 
      #{insertDate,jdbcType=TIMESTAMP},#{insertUser,jdbcType=VARCHAR},#{updateDate,jdbcType=TIMESTAMP},#{updateUser,jdbcType=VARCHAR},
      #{validDateFrom,jdbcType=TIMESTAMP}, #{validDateTo,jdbcType=TIMESTAMP},#{deleteFlag,jdbcType=TINYINT})
    </insert>

    <select id="getGoodsIdList" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.NewBeeMallGoods">
		select goods_id from tb_newbee_mall_goods_info
		where goods_id = #{goodsId,jdbcType=BIGINT}
	</select>
	
	 <select id="getCampaignIdList" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.campaign.Campaign">
		select campaign_id from campaign
		where campaign_id= #{campaignId,jdbcType=BIGINT}
	</select>
	
	  <select id="getGoodsInfoList" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.NewBeeMallGoods">
		select goods_id,goods_name from tb_newbee_mall_goods_info limit 10
	</select>
</mapper>