<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.CourseUserMapper">
    <resultMap id="BaseResultMap" type="ltd.newbee.mall.entity.CourseUser">
        <id column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="user_phone" jdbcType="VARCHAR" property="userPhone"/>
        <result column="pwd_md5" jdbcType="VARCHAR" property="pwdMd5"/>
        <result column="avatar" jdbcType="VARCHAR" property="avatar"/>
        <result column="login_only_code" jdbcType="VARCHAR" property="loginOnlyCode"/>
        <result column="locked" jdbcType="TINYINT" property="locked"/>
        <result column="user_from" jdbcType="VARCHAR" property="userFrom"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="user_type" jdbcType="TINYINT" property="userType"/>
        <result column="user_email" jdbcType="VARCHAR" property="userEmail"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="ip1" jdbcType="VARCHAR" property="ip1"/>
        <result column="ip2" jdbcType="VARCHAR" property="ip2"/>
        <result column="ip3" jdbcType="VARCHAR" property="ip3"/>
        <result column="ip4" jdbcType="VARCHAR" property="ip4"/>
        <result column="pwd_count" jdbcType="INTEGER" property="pwdCount"/>
    </resultMap>
    <sql id="Base_Column_List">
    user_id, user_phone, pwd_md5, avatar,login_only_code, locked, user_from, remark, user_type,
    user_email, user_name, create_time, update_time, ip1, ip2, ip3, ip4, pwd_count
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from form_course_user
        where user_id = #{userId,jdbcType=BIGINT}
    </select>
    <select id="selectByLoginOnlyCode" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from form_course_user
        where login_only_code = #{loginOnlyCode,jdbcType=VARCHAR} limit 1
    </select>
    <select id="selectByPhone" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from form_course_user
        where user_phone = #{phone,jdbcType=VARCHAR} limit 1
    </select>
    <select id="selectByEmail" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from form_course_user
        where user_email = #{email,jdbcType=VARCHAR} limit 1
    </select>
    <select id="selectByPhoneAndPwd" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from form_course_user
        where user_phone = #{phone,jdbcType=VARCHAR} and pwd_md5 = #{pwdMd5,jdbcType=VARCHAR} limit 1
    </select>
    <select id="selectByEmailAndPwd" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from form_course_user
        where user_email = #{email,jdbcType=VARCHAR} and pwd_md5 = #{pwdMd5,jdbcType=VARCHAR} limit 1
    </select>
    <select id="findCourseUserList" parameterType="Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from form_course_user
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>
    <select id="getTotalCourseUsers" parameterType="Map" resultType="int">
        select count(*) from form_course_user
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from form_course_user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="ltd.newbee.mall.entity.CourseUser">
    insert into form_course_user (user_id, user_phone, pwd_md5, 
      login_only_code, locked, user_from, 
      remark, user_type, user_email, 
      user_name, create_time, update_time, 
      ip1, ip2, ip3, ip4, 
      pwd_count)
    values (#{userId,jdbcType=BIGINT}, #{userPhone,jdbcType=VARCHAR}, #{pwdMd5,jdbcType=VARCHAR}, 
      #{loginOnlyCode,jdbcType=VARCHAR}, #{locked,jdbcType=TINYINT}, #{userFrom,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{userType,jdbcType=TINYINT}, #{userEmail,jdbcType=VARCHAR}, 
      #{userName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{ip1,jdbcType=VARCHAR}, #{ip2,jdbcType=VARCHAR}, #{ip3,jdbcType=VARCHAR}, #{ip4,jdbcType=VARCHAR}, 
      #{pwdCount,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="ltd.newbee.mall.entity.CourseUser">
        insert into form_course_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="userPhone != null">
                user_phone,
            </if>
            <if test="pwdMd5 != null">
                pwd_md5,
            </if>
            <if test="avatar != null">
                avatar,
            </if>
            <if test="loginOnlyCode != null">
                login_only_code,
            </if>
            <if test="locked != null">
                locked,
            </if>
            <if test="userFrom != null">
                user_from,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="userType != null">
                user_type,
            </if>
            <if test="userEmail != null">
                user_email,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="ip1 != null">
                ip1,
            </if>
            <if test="ip2 != null">
                ip2,
            </if>
            <if test="ip3 != null">
                ip3,
            </if>
            <if test="ip4 != null">
                ip4,
            </if>
            <if test="pwdCount != null">
                pwd_count,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="userPhone != null">
                #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="pwdMd5 != null">
                #{pwdMd5,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="loginOnlyCode != null">
                #{loginOnlyCode,jdbcType=VARCHAR},
            </if>
            <if test="locked != null">
                #{locked,jdbcType=TINYINT},
            </if>
            <if test="userFrom != null">
                #{userFrom,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                #{userType,jdbcType=TINYINT},
            </if>
            <if test="userEmail != null">
                #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ip1 != null">
                #{ip1,jdbcType=VARCHAR},
            </if>
            <if test="ip2 != null">
                #{ip2,jdbcType=VARCHAR},
            </if>
            <if test="ip3 != null">
                #{ip3,jdbcType=VARCHAR},
            </if>
            <if test="ip4 != null">
                #{ip4,jdbcType=VARCHAR},
            </if>
            <if test="pwdCount != null">
                #{pwdCount,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="ltd.newbee.mall.entity.CourseUser">
        update form_course_user
        <set>
            <if test="userPhone != null">
                user_phone = #{userPhone,jdbcType=VARCHAR},
            </if>
            <if test="pwdMd5 != null">
                pwd_md5 = #{pwdMd5,jdbcType=VARCHAR},
            </if>
            <if test="avatar != null">
                avatar = #{avatar,jdbcType=VARCHAR},
            </if>
            <if test="loginOnlyCode != null">
                login_only_code = #{loginOnlyCode,jdbcType=VARCHAR},
            </if>
            <if test="locked != null">
                locked = #{locked,jdbcType=TINYINT},
            </if>
            <if test="userFrom != null">
                user_from = #{userFrom,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="userType != null">
                user_type = #{userType,jdbcType=TINYINT},
            </if>
            <if test="userEmail != null">
                user_email = #{userEmail,jdbcType=VARCHAR},
            </if>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="ip1 != null">
                ip1 = #{ip1,jdbcType=VARCHAR},
            </if>
            <if test="ip2 != null">
                ip2 = #{ip2,jdbcType=VARCHAR},
            </if>
            <if test="ip3 != null">
                ip3 = #{ip3,jdbcType=VARCHAR},
            </if>
            <if test="ip4 != null">
                ip4 = #{ip4,jdbcType=VARCHAR},
            </if>
            <if test="pwdCount != null">
                pwd_count = #{pwdCount,jdbcType=INTEGER},
            </if>
        </set>
        where user_id = #{userId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="ltd.newbee.mall.entity.CourseUser">
    update form_course_user
    set user_phone = #{userPhone,jdbcType=VARCHAR},
      pwd_md5 = #{pwdMd5,jdbcType=VARCHAR},
      login_only_code = #{loginOnlyCode,jdbcType=VARCHAR},
      locked = #{locked,jdbcType=TINYINT},
      user_from = #{userFrom,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      user_type = #{userType,jdbcType=TINYINT},
      user_email = #{userEmail,jdbcType=VARCHAR},
      user_name = #{userName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      ip1 = #{ip1,jdbcType=VARCHAR},
      ip2 = #{ip2,jdbcType=VARCHAR},
      ip3 = #{ip3,jdbcType=VARCHAR},
      ip4 = #{ip4,jdbcType=VARCHAR},
      pwd_count = #{pwdCount,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
    <update id="updateUserToken">
        update form_course_user set login_only_code = #{newToken} where user_id =#{userId} and locked = 0
    </update>
</mapper>