<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.GoodsImgMapper">

	<select id="getGoodsImgList" parameterType="java.lang.Long"
		resultType="ltd.newbee.mall.entity.GoodsImg">
		SELECT goods_id,goods_img_url
		FROM goods_img
		where goods_id = #{goodsId,jdbcType=BIGINT}
	</select>

</mapper>