<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.GoodsReviewMapper">   
    <!-- review查询部分 -->
    <select id="findGoodsReviewList" parameterType="Map" resultType="ltd.newbee.mall.entity.GoodsReview">
        select review.goods_id,
		       review.review_id, 
		       review.star,
               review.submit_date,
		       review.review_title,
               review.review_detail,
               review.image_url,
        count(review_sankou.sankou_user_id) as help_num
        from review left join review_sankou
        on review_sankou.goods_id = review.goods_id
        and review_sankou.review_id = review.review_id
        <where>
           <if test="goodsId!=null and goodsId!=''">
                and review.goods_id = #{goodsId}
            </if>
        </where>    
        group by review.goods_id,
                 review.review_id, 
                 review.star,
                 review.submit_date,
		         review.review_title,
                 review.review_detail,
                 review.image_url
        
         order by help_num desc
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>
    <select id="getTotalGoodsReview" parameterType="Map" resultType="int">
        select count(*) from review
    </select>
    <select id="getCount" parameterType="Map" resultType="java.lang.Long">
        select count(*) from review
    </select>
    
    <!-- insert -->
    <select id="getMaxGoodsReviewId" resultType="java.lang.Long">
        select max(review_id) from review
    </select>    
    <insert id="insertGoodsReview" parameterType="ltd.newbee.mall.entity.GoodsReview">
         insert into review
         <trim prefix="(" suffix=")" suffixOverrides=",">
             <if test="goodsId != null">
                 goods_id,
             </if>
             <if test="reviewId != null">
                 review_id,
             </if>
             <if test="reviewUserId != null">
                 review_user_id,
             </if>
             <if test="star != null">
                 star,
             </if>
             <if test="submitDate != null">
                 submit_date,
             </if>
             <if test="reviewTitle != null">
                 review_title,
             </if>
             <if test="reviewDetail != null">
                 review_detail,
             </if>
             <if test="imageUrl != null">
                 image_url,
             </if>
         </trim>
         
         <trim prefix="values (" suffix=")" suffixOverrides=",">
             <if test="goodsId != null">
                 #{goodsId,jdbcType=BIGINT},
             </if>
             <if test="reviewId != null">
                 #{reviewId,jdbcType=BIGINT},
             </if>
             <if test="reviewUserId != null">
                 #{reviewUserId,jdbcType=BIGINT},
             </if>
             <if test="star != null">
                 #{star,jdbcType=SMALLINT},
             </if>
             <if test="submitDate != null">
                 #{submitDate,jdbcType=TIMESTAMP},
             </if>
             <if test="reviewTitle != null">
                 #{reviewTitle,jdbcType=VARCHAR},
             </if>
             <if test="reviewDetail != null">
                 #{reviewDetail,jdbcType=VARCHAR},
             </if>
             <if test="imageUrl != null">
                 #{imageUrl,jdbcType=VARCHAR},
             </if>
         </trim> 
    </insert>  
    
    <!-- 参考になった --> 
    <insert id="insertHelpNum" parameterType="ltd.newbee.mall.entity.GoodsReview">
         insert into review_sankou
         <trim prefix="(" suffix=")" suffixOverrides=",">
             <if test="goodsId != null">
                 goods_id,
             </if>
             <if test="reviewId != null">
                 review_id,
             </if>
             <if test="sankouUserId != null">
                 sankou_user_id,
             </if>
         </trim>
         
         <trim prefix="values (" suffix=")" suffixOverrides=",">
             <if test="goodsId != null">
                 #{goodsId,jdbcType=BIGINT},
             </if>
             <if test="reviewId != null">
                 #{reviewId,jdbcType=BIGINT},
             </if>
             <if test="sankouUserId != null">
                 #{sankouUserId,jdbcType=BIGINT},
             </if>
         </trim>
    </insert>
    
    <update id="updateReivewNum">
        update review set help_num = help_num + 1
        where review_id = #{reviewId}
    </update>
    
    <select id="getHelpNum" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(review_id) as help_num
        from review_sankou where review_id = #{reviewId,jdbcType=BIGINT}
    </select>
    
    <select id="getSankouUserId" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.GoodsReview">
        select review_sankou.goods_id
               review_sankou.review_id
               review_sankou.sankou_user_id
               review.submit_date
               review.review_user_id
               review.star
               review.review_title
               review.review_detail
               review.image_url
		from review_sankou left join review
		on review_sankou.goods_id=review.goods_id 
		and review_sankou.review_id =review.review_id
        where review_sankou.sankou_user_id = #{sankouUserId,jdbcType=BIGINT} 
        and review_sankou.goods_id = #{goodsId,jdbcType=BIGINT} 
        and review_sankou.review_id = #{reviewId,jdbcType=BIGINT} 
    </select>
    <!-- 
    <select id="getMaxHelpNum" resultType="java.lang.Long">
        select max(sankou_user_id) from review_sankou
    </select> 
   
    <insert id="insertHelpNum" parameterType="ltd.newbee.mall.entity.GoodsReview">
         insert into review_sankou
         <trim prefix="(" suffix=")" suffixOverrides=",">
             <if test="goodsId != null">
                 goods_id,
             </if>
             <if test="reviewId != null">
                 review_id,
             </if>
             <if test="sankouUserId != null">
                 sankou_user_id,
             </if>
         <if test="submitDate != null">
                 submit_date,
             </if>
         </trim>
         
         <trim prefix="values (" suffix=")" suffixOverrides=",">
             <if test="goodsId != null">
                 #{goodsId,jdbcType=BIGINT},
             </if>
             <if test="reviewId != null">
                 #{reviewId,jdbcType=BIGINT},
             </if>
             <if test="sankouUserId != null">
                 #{sankouUserId,jdbcType=BIGINT},
             </if>
             <if test="submitDate != null">
                 #{submitDate,jdbcType=TIMESTAMP},
             </if>
         </trim>
    </insert>
    
    <select id="getHelpNumTwice" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(*) as help_num
        from review_sankou
        where review_id = #{reviewId,jdbcType=BIGINT}
        and goods_id = #{goodsId,jdbcType=BIGINT}
        and sankou_user_id = #{sankouUserId,jdbcType=BIGINT}
    </select> 
    -->
    <!-- レビュー平均評価x.xの情報 --> 
    <select id="getAverageStarByGoodsId" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.GoodsReview">
        select avg(star) as average_star, goods_id from review
        where goods_id = #{goodsId,jdbcType=BIGINT}
        group by goods_id
    </select>
    
    <!-- 参考になったを押下した後、「参考になった（125人）」人数を計算 --> 
    <select id="getReviewHelpNum" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.GoodsReview">
        select r.review_id, r.goods_id,
        count(rs.sankou_user_id) as help_num
        from review as r left join review_sankou as rs
        on rs.goods_id = r.goods_id
        and rs.review_id = r.review_id
        where r.review_id = #{reviewId,jdbcType=BIGINT}
        and r.goods_id = #{goodsId,jdbcType=BIGINT}
        group by r.review_id, r.goods_id
        order by r.review_id
    </select>
</mapper>