<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.GoodsQAMapper">


	<select id="getMaxGoodsId" parameterType="java.lang.Long"
		resultType="java.lang.Long">
		select max(goods_id) from
		question_and_answer
		where goods_id = #{goodsId,jdbcType=BIGINT}
	</select>


	<insert id="insertGoodsQA"
		parameterType="ltd.newbee.mall.entity.QuestionAndAnswer">
		insert into question_and_answer
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="goodsId != null">
				goods_id,
			</if>
			<if test="questionsId != null">
				questions_id,
			</if>
			<if test="question != null">
				question,
			</if>
			<if test="answer != null">
				answer,
			</if>
			<if test="submitDate != null">
				submit_date,
			</if>
			<if test="answersDate != null">
				answers_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="goodsId != null">
				#{goodsId,jdbcType=BIGINT},
			</if>
			<if test="questionsId != null">
				#{questionsId,jdbcType=BIGINT},
			</if>
			<if test="question != null">
				#{question,jdbcType=VARCHAR},
			</if>
			<if test="answer != null">
				#{answer,jdbcType=VARCHAR},
			</if>
			<if test="submitDate != null">
				#{submitDate,jdbcType=TIMESTAMP},
			</if>
			<if test="answersDate != null">
				#{answersDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>




</mapper>