<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.ReviewMapper">


	<select id="findReviewList" parameterType="Map"
		resultType="ltd.newbee.mall.entity.Review">
		select
		rs.goods_id,rs.review_id,rs.submit_date,r.review_user_id,r.star,r.review_title,r.review_detail,r.image_url,
		count(rs.review_id) as help_num
		from review_sannkou as rs , review as r
		<where>
			<if test="goodsId!=null and goodsId!=''">
				and rs.goods_id=#{goodsId}
				and rs.goods_id=r.goods_id
				and
				rs.review_id =r.review_id
			</if>
		</where>
		group by
		rs.goods_id,rs.review_id,rs.submit_date,r.review_user_id,r.star,r.review_title,r.review_detail,r.image_url
		order by ${orderByColumn} ${ascOrDesc}
		<if test="start!=null and limit!=null">
			limit #{start},#{limit}
		</if>
	</select>

	<select id="getTotalReview" parameterType="Map" resultType="int">
		select count(review_id) from Review
		<where>
			<if test="goods_id!=null and goods_id!=''">
				and goods_id=#{goodsId}
			</if>
		</where>
	</select>

	<select id="getReviewList" parameterType="Map"
		resultType="ltd.newbee.mall.entity.Review">
		select
		r.goods_id,r.review_id,r.submit_date,r.review_user_id,r.star,r.review_title,r.review_detail,r.image_url,
		count(rs.review_id) as help_num
		from review as r left join
		review_sannkou as rs on rs.goods_id=r.goods_id and rs.review_id
		=r.review_id
		<where>
			<if test="goodsId!=null and goodsId!=''">
				and r.goods_id=#{goodsId}
			</if>
		</where>
		group by
		r.goods_id,r.review_id,r.submit_date,r.review_user_id,r.star,r.review_title,r.review_detail,r.image_url
		order by help_num Desc
		<if test="start!=null and limit!=null">
			limit #{start},#{limit}
		</if>
	</select>

	<select id="getCount" parameterType="java.lang.Long"
		resultType="long">
		select count(review_id) from Review
		<where>
			<if test="goods_id!=null and goods_id!=''">
				and goods_id=#{goodsId}
			</if>
		</where>
	</select>

	<select id="getMaxReviewId" parameterType="java.lang.Long"
		resultType="java.lang.Long">
		select max(review_id) from
		review
		where review_id =
		#{reviewId,jdbcType=BIGINT}
	</select>


	<insert id="insertReview"
		parameterType="ltd.newbee.mall.entity.QuestionAndAnswer">
		insert into review
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="goodsId != null">
				goods_id,
			</if>
			<if test="reviewId != null">
				review_id,
			</if>
			<if test="reviewUserId != null">
				review_user_id,
			</if>
			<if test="star != null">
				star,
			</if>
			<if test="submitDate != null">
				submit_date,
			</if>
			<if test="reviewTitle != null">
				review_title,
			</if>
			<if test="reviewDetail != null">
				review_detail,
			</if>
			<if test="imageUrl != null">
				image_url,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="goodsId != null">
				#{goodsId,jdbcType=BIGINT},
			</if>
			<if test="reviewId != null">
				#{reviewId,jdbcType=BIGINT},
			</if>
			<if test="reviewUserId != null">
				#{reviewUserId,jdbcType=BIGINT},
			</if>
			<if test="star != null">
				#{star,jdbcType=SMALLINT},
			</if>
			<if test="submitDate != null">
				#{submitDate,jdbcType=TIMESTAMP},
			</if>
			<if test="reviewTitle != null">
				#{reviewTitle,jdbcType=VARCHAR},
			</if>
			<if test="reviewDetail != null">
				#{reviewDetail,jdbcType=VARCHAR},
			</if>
			<if test="imageUrl != null">
				#{imageUrl,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>


	<select id="getGoodsReview" parameterType="java.lang.Long"
		resultType="ltd.newbee.mall.entity.Review">
		select
		r.goods_id,r.review_id,r.submit_date,r.review_user_id,r.star,r.review_title,r.review_detail,r.image_url,
		count(rs.review_id) as help_num
		from review as r left join
		review_sannkou as rs
		on rs.goods_id=r.goods_id and rs.review_id
		=r.review_id
		<where>
			<if test="goodsId!=null and goodsId!=''">
				and r.goods_id=#{goodsId}
			</if>
		</where>
		group by
		r.goods_id,r.review_id,r.submit_date,r.review_user_id,r.star,r.review_title,r.review_detail,r.image_url
		order by help_num Desc
	</select>


	<insert id="insertHelpNum"
		parameterType="ltd.newbee.mall.entity.ReviewSannkou">
		insert into review_sannkou(goods_id,review_id,
		sannkou_user_id)
		values(#{goodsId,jdbcType=BIGINT},#{reviewId,jdbcType=BIGINT},
		#{sannkouUserId,jdbcType=BIGINT})
	</insert>

	<update id="updateReviewNum">
		update review set help_num = help_num + 1
		where
		review_id= #{reviewId}
	</update>

	<select id="getHelpNum" parameterType="long"
		resultType="java.lang.Long">
		SELECT count(review_id) as help_num
		FROM review_sannkou
		where review_id = #{reviewId,jdbcType=BIGINT} and
		goods_id=#{goodsId,jdbcType=BIGINT}
	</select>

	<select id="getReviewSannkouUserId"
		parameterType="java.lang.Long"
		resultType="ltd.newbee.mall.entity.ReviewSannkou">
		select
		rs.goods_id,rs.review_id,rs.sannkou_user_id,r.submit_date,r.review_user_id,r.star,r.review_title,r.review_detail,r.image_url
		from review_sannkou as rs left join review as r
		on
		rs.goods_id=r.goods_id and rs.review_id =r.review_id
		where
		rs.sannkou_user_id = #{sannkouUserId,jdbcType=BIGINT}
		and rs.goods_id =
		#{goodsId,jdbcType=BIGINT}
		and rs.review_id =
		#{reviewId,jdbcType=BIGINT}
	</select>

	<select id="getAverageStar" parameterType="java.lang.Long"
		resultType="java.lang.Double">
		select round(avg(star),1) as average_star
		from review
		where
		goods_id = #{goodsId,jdbcType=BIGINT};
	</select>

	<select id="getTotalSannkou" parameterType="java.lang.Long"
		resultType="java.lang.Long">
		select count(rs.sannkou_user_id) as help_num
		from review as
		r left join review_sannkou as rs
		on r.review_id = rs.review_id and
		r.goods_id=rs.goods_id
		where r.goods_id=#{goodsId,jdbcType=BIGINT} and
		r.review_id=#{reviewId,jdbcType=BIGINT}
	</select>

	<select id="getStarNum" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.Review">
		select star,count(star) as help_num
		from review
		where goods_id=#{goodsId,jdbcType=BIGINT}
		group by star
	</select>

</mapper>