<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ltd.newbee.mall.dao.TabelogMapper">
<!-- Portal -->
    <!-- 曖昧検索 -->
    <select id="getKeywordList" parameterType="java.lang.String" resultType="ltd.newbee.mall.entity.RestaurantKeyword">
        select keyword
        from restaurant_keyword where keyword like CONCAT('%', #{keyword}, '%')
    </select>
    
    <select id="getCityList" parameterType="java.lang.String" resultType="ltd.newbee.mall.entity.RestaurantJapanRegion">
        select city_name
        from restaurant_japan_region where city_name like CONCAT('%', #{cityName}, '%')
    </select>
    
    <select id="getDistrictList" parameterType="java.lang.String" resultType="ltd.newbee.mall.entity.RestaurantJapanRegion">
        select district_name
        from restaurant_japan_region where district_name like CONCAT('%', #{districtName}, '%')
    </select>
    
    <select id="getStationList" parameterType="java.lang.String" resultType="ltd.newbee.mall.entity.RestaurantJapanStation">
        select concat(station_name, '(', location, ')')
        from restaurant_japan_station where station_name like CONCAT('%', #{stationName}, '%')
    </select>
    
<!-- Detail Page (Header) -->
    <!-- Keyword -->
    <select id="getKeywordByRestaurantId" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.RestaurantKeyword">
        select keyword
        from restaurant_keyword where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
    <!-- RestaurantBasicInfo -->
    <select id="getRestaurantBasicInfo" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.RestaurantBasicInfo">
        select restaurant_id, restaurant_name, genre1, genre2, genre3, genre4, tel, reserve_availability, address,
        	   station1, station2, station3, transportation1, transportation2, transportation3, distance,
        	   business_workday_hour, business_weekend_hour, regular_holiday, budget_night, budget_daytime,
        	   pay_method1, pay_method2, service_charge, region, city, district, town, village, pillow_word,
        	   extra_info_title, extra_info_detail, comment_title, comment_detail
        from restaurant_basic_info where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
     <!-- restaurant_reviewの各点数の平均評価 --> 
    <select id="getAverageScoreByRestaurantId" parameterType="java.lang.Long" resultType="java.lang.Double">
    	select avg((score_total + score_taste + score_service + score_atmosphere + score_cost + score_drink) / 6) as average_score, restaurant_id 	
	    from restaurant_review
    	where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    	group by restaurant_id
    </select>
    
    <!-- Count Of Review -->
    <select id="getCountOfReview" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(*) from restaurant_review
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
    <!-- Count Of Followed -->
    <select id="getCountOfFollowed" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(follow_res_id) from restaurant_user_info
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
    <!-- Go To Eat -->
    <select id="getGoToEat" parameterType="java.lang.Long" resultType="java.lang.String">
        select go_to_eat from restaurant_features_info
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
<!-- Detail Page (Top) -->    
    <!-- Top Slide Photo -->
    <select id="getSlidePhoto" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.RestaurantPhoto">
        select photo_url from restaurant_photo
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
    <!-- Top Kodawari -->
    <select id="getKodawari" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.RestaurantPhotoCommitment">
        select restaurant_id, photo_id, photo_url, photo_title, photo_detail, photo_type, type_color
        from restaurant_photo_commitment
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
    <!-- Top Course -->
    <select id="getMenuCourse" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.RestaurantMenuCourse">
        select restaurant_id, restaurant_name, course_id, course_name, course_detail, course_img, course_price,
        course_price_discount, course_item_num, available_hour, available_time, available_people, drink_all,
        course_content, course_note
        from restaurant_menu_course
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
    <!-- Review -->
    <select id="getReview" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.RestaurantReview">
        select restaurant_id, restaurant_name, review_id, review_user_id, review_user_name, review_user_age,
        review_user_gender, review_user_city, review_title, review_detail, review_img, score_total, score_taste,
        score_service, score_atmosphere, score_cost, score_drink, budget, visit_date, night_or_daytime, reply_detail,
        reviewer_photo
        from restaurant_review
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
    <!-- Disease Control -->
    <select id="getDiseaseControlList" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.RestaurantDiseaseControl">
        select restaurant_id, restaurant_name, restaurant_countermeasure1, restaurant_countermeasure2, employee_countermeasure1,
        employee_countermeasure2, employee_countermeasure3, customer_countermeasure1, customer_countermeasure2
        from restaurant_disease_control
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
    <!-- Takeout -->
    <select id="getTakeoutList" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.RestaurantTakeout">
        select restaurant_id, restaurant_name, takeout_img1, takeout_img2, takeout_img3, available_time, menu
        from restaurant_takeout
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>

    <!-- Seats Menu -->
    <select id="getSeatsMenu" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.RestaurantSeatsMenu">
        select restaurant_id, restaurant_name, seats_num, seats_remark, private_room, private_remark, reservable,
        reservable_remark, smoking_cessation, smoking_remark, parking, parking_remark, space_equipment, cell_phon,
        course, drink, gourmet, lunch_start, lunch_end, dinner_start, dinner_end, keyword
        from restaurant_seats_menu
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
    <!-- Restaurant Features Info -->
    <select id="getRestaurantFeaturesInfo" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.RestaurantFeaturesInfo">
        select restaurant_id, restaurant_name, go_to_eat, scene_name1, scene_name2, scene_name3, location, service,
        with_children, home_page, account_twitter, account_ins, open_date, telephone, remark, first_contributor_id,
        first_contributor_name
        from restaurant_features_info
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
<!-- Detail Page (Table) --> 
	<!-- Seats Photo -->
	<select id="getSeatsPhoto" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.RestaurantSeatsPhoto">
        select restaurant_id, private_room_img, table_seat_img
        from restaurant_seats_photo
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
<!-- Detail Page (Menu) --> 
    <!-- Menu Meal -->
	<select id="getMenuMeal" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.RestaurantMenuMeal">
        select restaurant_id, restaurant_name, genre_id, genre_name, genre_img, dish_id, dish_name, dish_img,
        dish_price, dish_remark
        from restaurant_menu_meal
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>

	<!-- Menu Drink -->
	<select id="getMenuDrink" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.RestaurantMenuDrink">
        select restaurant_id, restaurant_name, drink_genre_id, drink_genre_name, drink_id, drink_name, drink_price,
        drink_remark
        from restaurant_menu_drink
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
    <!-- Menu Lunch -->
	<select id="getMenuLunch" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.RestaurantMenuLunch">
        select restaurant_id, restaurant_name, lunch_genre_id, lunch_genre_name, lunch_id, lunch_name, lunch_img,
        lunch_remark, lunch_price
        from restaurant_menu_lunch
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
    <!-- Menu Photo -->
	<select id="getMenuPhoto" parameterType="java.lang.Long" resultType="ltd.newbee.mall.entity.RestaurantMenuPhoto">
        select restaurant_id, restaurant_name, photo_id, photo_name, photo_url, photo_post_date, post_user_id,
        post_user_name
        from restaurant_menu_photo
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    
    <!-- Count Of Menu Course -->
    <select id="getCountOfMenuCourse" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(course_id) from restaurant_menu_course
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    <!-- Count Of Menu Meal -->
    <select id="getCountOfMenuMeal" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(dish_name) from restaurant_menu_meal
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    <!-- Count Of Menu Drink -->
    <select id="getCountOfMenuDrink" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(drink_name) from restaurant_menu_drink
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    <!-- Count Of Menu Lunch -->
    <select id="getCountOfMenuLunch" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(lunch_name) from restaurant_menu_lunch
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
    <!-- Count Of Menu Photo -->
    <select id="getCountOfMenuPhoto" parameterType="java.lang.Long" resultType="java.lang.Long">
        select count(photo_id) from restaurant_menu_photo
		where restaurant_id = #{restaurantId,jdbcType=BIGINT}
    </select>
</mapper>